<%- include('layouts/header') -%>
<div class="container" style="min-height: 100%;">
    <div class="columns is-centered">
        <div class="column  is-1">
            <h1>Chat</h1>
        </div>
        
    </div>
    <section class="section">
        <div class="columns conversation" >
            <div class="column  is-12">
                <ul id="conversationWindow">
                    <li>Test: 123</li>
                </ul>
            </div>
            
        </div>
    </section>
    <div class="footer"> 
        <div class="columns is-vcentered ">
            
            <div class="field is-9">
                <div class="control">
                  <textarea cols="60" class="textarea is-large is-primary" placeholder="chat.." id='chatMessage' required></textarea>
                </div>
              </div>
            <div class="column is-1 is-offset-1">
                <button class="button is-success is-large " id="sendButton" disabled="true">Gönder</button>
            </div>
        </div>
    </div>
    
</div>
<script>
    window.username = '<%- fullname %>'
    window.userId = '<%- userId %>'
    
</script>
<%- include('scripts/main') -%>
<%- include('layouts/footer') -%>