<%- include('layouts/header') -%>
<div class="container">
  <div class="box">
    <form action="/auth/login" method='POST'>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" name="email" placeholder="e.g. alexsmith@gmail.com">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" name="password">
        </div>
      </div>
      
      
  
      <button class="button is-success" id="sendButton">Login</button>
    </form>
  </div>
</div>
<%- include('scripts/socket') -%>

<%- include('layouts/footer') -%>