<%- include('layouts/header') -%>
<div class="container">
  <div class="box">
    <form action="/auth/register" method='POST'>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" name="name" >
            </div>
        </div>
        <div class="field">
            <label class="label">Surname</label>
            <div class="control">
                <input class="input" type="text" name="surname" >
            </div>
        </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" name="email" placeholder="e.g. alexsmith@gmail.com">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" name="password">
        </div>
      </div>
      <div class="field">
        <label class="label">Country</label>
        <div class="control">
            <select name="country" id="" class="select is-primary">
                <option value="turkey">Turkey</option>
            </select>
        </div>
    </div>
    <div class="field">
        <label class="label">Language</label>
        <div class="control">
            <select name="lang" id="" class="select is-primary">
                <option value="tr">Turkish</option>
            </select>
        </div>
    </div>
      
      
  
      <button class="button is-success" id="sendButton">Register</button>
    </form>
  </div>
</div>
<%- include('scripts/socket') -%>

<%- include('layouts/footer') -%>