<script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io()
    socket.on('pong', function(data) {
        console.log('Received Pong: ', data);
    });
    $('#chatMessage').on('input propertychange',function(){
        if($(this).val().length > 0){
            $('#sendButton').prop('disabled',false)
        }else{
            $('#sendButton').prop('disabled',true)
        }
    })
    $('#sendButton').click(function() {

        socket.emit('public-chat',{
            msg: $('#chatMessage').val(),
            sentBy: window.username
        })

        $('#chatMessage').val('')

    })

    socket.on('public-chat-publish',function({msg,token,sentBy}) {
        
        $('#conversationWindow').append(`<li id='${token}''> ${sentBy}: ${msg} </li>`)
    })

    socket.on('login-publish',function({msg,token,sentBy}) {
        toastr.success(msg)
     })

     socket.on('register-publish',function({msg,token,sentBy}) {
        toastr.success(msg)
     })

     socket.on('logout-publish',function({msg,token,sentBy}) {
        toastr.warning(msg)
     })
</script>